// FIXME: Importing this breaks builds, needed for color-mode though.
//@import "bootstrap";

@import "includes/variables";

.bottomAlignRow div {
  position: relative;
  padding-bottom: 50px;
}
.bottomAlignRow div>a {
  position: absolute;
  bottom: 0px;
  left: 15px;
  right: 15px;
}
#develop-plateforms {
  background-color: rgba(61,174,233,.1)
}
#kirigami {
  background-color: rgba(218,68,83,.07);
}
main section {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
#top {
  background: rgb(1,212,134);
  background: linear-gradient(128deg, rgba(1,212,134,1) 0%, rgba(61,174,232,1) 100%); 
  text-shadow: 0 0 0px #fff;
  color: white;
  padding-bottom: 100px;
}

#top p {
  font-size: 22px;
  font-weight: 200;
  line-height: 1.4;
  color: rgb(255, 255, 255);
  margin: 30px 0;
}

.kde-logo-big {
  background-color: inherit;
  font-family: glyph;
  font-size: 7em;
}

.block-navs {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: -100px;
}

.tools {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

.tool {
  padding: 40px 10px;
  flex-basis: 50%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.tool, .block-nav {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tool:hover, .block-nav:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.tool > img, .tool > div {
  flex-basis: 50%;
  color: black;
}

.tool .img {
  vertical-align: middle;  
}
.tool img {
  width: 128px;
  height: auto;
}

.block-nav, .shadow {
  display: block;
  position: relative;
}

.block-nav {
  top: -30px;
  margin-left: 20px;
  padding: 20px;
  max-width: 250px;
  margin-right: 20px;
  background-color: white;
}

a.block-nav:hover, a.shadow:hover {
  transform: translateY(-1vh);
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}

.block-nav *, .block-nav *:hover {
  color: rgba(0, 0, 0, 0.9);
}

.block-nav i {
  font-size: 3em;
  color: rgba(0, 0, 0, 0.7);
}

.block-nav:nth-child(2) {
  top: -70px;
}

.list-inline-item .learn-more::after {
  padding-left: 0.3em;
  margin-right: 0.7em;
}

main h1 {
  font-size: 48px;
  letter-spacing: -0.25px;
}

main h2 {
  font-size: 28px;
  letter-spacing: -0.25px;
}

main h3 {
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 0.9);
}

.more-apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.more-apps a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-top: 2rem;
}


.more-apps img {
  width: 64px;
  max-widht: 100%;
}

@media (max-width:1100px) {
  .block-navs {
    flex-direction: column;
    align-items: center;
    margin-bottom: -150px;
  }

  .block-nav:nth-child(2), .block-nav {
    top: -90px;
    margin-top: 40px;
    width: 90%;
    max-width: 90%;
  }

  .phone-with-overlay {
    width: 30%;
    left: -70px;
  }

  .tools, .tool-one {
    flex-direction: column;
  }

  .tools .tool {
    margin-top: 3rem !important;
  }

  .tool:not(.tool-multiple) div:nth-child(2) {
    order: -1;
  }
}

// FIXME: bootstrap scss import is breaking here, so just use a media-query.
//@include color-mode(dark) {
@media (prefers-color-scheme: dark) {
  .tool,
  .block-nav {
    background-color: #31363b;
  }
  main h1,
  .block-nav *,
  .tool * {
    color: #f1f1f1 !important;
  }
}

.icons-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  img {
    width: 96px;
    height: 96px;
    margin-bottom: 1rem;
  }

  i {
    font-size: 300%;
  }
}

.icons-grid-small img {
  width: 64px;
  height: 64px;
}

#platform-hero {
  margin: 60px 0;
}

#platform-illustration {
  margin-top: 100px;
  // Use CSS' min function so we can mix units here
  height: unquote("min(45vw, 600px)");
  justify-content: center;
  --screenshot-radius: 4px;

  /*
   * To move the device around adjust the container class
   * (i.e. platform-bigscreen to move the large monitor around)
   * Adjust the -screenshot class to move the screenshot around
   * And do not touch the -svg class!
   */
  .platform-devices {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1300px;

    .platform-svg {
      width: 100%;
    }

    .platform-bigscreen {
      position: absolute;
      // Device positioning
      width: 60%;
      top: 0;
      right: 5%;

      .platform-bigscreen-screenshot {
        position: absolute;
        top: 3%;
        left: 2.5%;
        width: 95%;
        height: auto;
        border-radius: var(--screenshot-radius);
      }

    }

    .platform-desktop {
      position: absolute;
      display: flex;
      // Device positioning
      width: 60%;
      top: 31%;
      left: 5%;

      .platform-desktop-screenshot {
        position: absolute;
        top: 3%;
        left: 10%;
        width: 80%;
        height: auto;
        border-radius: var(--screenshot-radius);
      }
    }

    .platform-mobile {
      position: absolute;
      // Device positioning
      top: 45%;
      width: 13%;
      left: 5%;

      .platform-mobile-screenshot {
        position: absolute;
        width: 80%;
        top: 9%;
        left: 10%;
        border-radius: var(--screenshot-radius);
      }
    }
  }
}

.kirigami-devices {
  height: 500px;
  // Align with bottom
  margin-bottom: -3rem;
  @media (max-width: 700px) {
    height: 200px;
  }
}

.terminal {
  background-color: #232627;
  color: #fcfcfc;
}

.kirigami-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: none;
  background: url('/kirigami/kirigami-icon.svg') no-repeat,
    linear-gradient(144.64deg, #E93A9A 0%, #E9643A 64.86%, #EF973C 100%);
  background-position: bottom left, right;
  background-size: contain;
  background-origin: border-box ;
  min-height: 150px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: center;
  text-shadow: 2px 2px 7px #222;
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);

  .h1 {
    color: #fafafa !important;
    font-size: 32px !important;
    line-height: 120%;
    background-image: none !important;
  }

  .header-logo{
    font-family: glyph;
    font-size: 4rem !important;
    margin-bottom: 1rem;
    width: 100%
  }
}

